
@font-face {
    font-family: poppinsLight;
    src: url('../../font//Poppins-Light.ttf');
}
.URSaddNewFrequentlyAskedQuestion {
    padding: 20px; 
}


.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .questionAndAnswer .question {
    margin-right: 20px;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .questionAndAnswer  div {
    width: 100%;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .questionAndAnswer  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #f3f3f3;
    transition: All 0.4s;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .questionAndAnswer input:focus {
    border: 1px solid #fcba00;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .questionAndAnswer label,
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .description label {
    font-family: poppinsLight;
    margin-bottom: 10px;
}

.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .countryFlagPhoto .photoInput::file-selector-button,
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .countryFlagPhoto .hoverIconInput::file-selector-button,
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .countryFlagPhoto .iconInput::file-selector-button {
    display: none;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .countryFlagPhoto .photoAndIconLabel {
    padding: 7px;
    background-color: #fcba00;
    border: none;
    color: #fff;
    font-family: poppinsLight;
    margin: 10px 0;
    width: fit-content;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .countryFlagPhoto .addedPhoto {
    width: 100%;
    height: 300px;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .countryFlagPhoto .photo {
    display: flex;
    flex-direction: column-reverse;
}

.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .cancelButtonAndAddButton {
    margin-top: 10px;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .cancelButtonAndAddButton .cancelButton,
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .cancelButtonAndAddButton .addButton {
    font-family: poppinsLight;
    border: none;
    margin: 20px 20px 10px 0;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    transition: All 0.4s;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .cancelButtonAndAddButton .cancelButton {
    border: 1px solid red;
    background-color: red;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .cancelButtonAndAddButton .addButton {
    background-color: green;
    border: 1px solid green;
}
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .cancelButtonAndAddButton .cancelButton:hover,
.URSaddNewFrequentlyAskedQuestion .adddNewFrequentlyAskedQuestionForm .cancelButtonAndAddButton .addButton:hover {
    background-color: #fff;
    color: #000;
}

.mt20 {
    margin-top: 20px;
}

