
@font-face {
    font-family: poppinsLight;
    src: url('../../font//Poppins-Light.ttf');
}

.URSaddNewMentor {
    padding: 20px; 
}

.URSaddNewMentor .URSaddNewMentorForm .nameAndDepartment .mentorName {
    margin-right: 20px;
}
.URSaddNewMentor .URSaddNewMentorForm .nameAndDepartment  div {
    width: 100%;
}
.URSaddNewMentor .URSaddNewMentorForm .nameAndDepartment  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #f3f3f3;
    transition: All 0.4s;
}
.URSaddNewMentor .URSaddNewMentorForm .nameAndDepartment input:focus {
    border: 1px solid #fcba00;
}

.URSaddNewMentor .URSaddNewMentorForm .nameAndDepartment label,
.URSaddNewMentor .URSaddNewMentorForm .description label {
    font-family: poppinsLight;
    margin-bottom: 10px;
}

.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .photoInput::file-selector-button,
.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .hoverIconInput::file-selector-button,
.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .iconInput::file-selector-button {
    display: none;
}
.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .photoAndIconLabel {
    padding: 7px;
    background-color: #fcba00;
    border: none;
    color: #fff;
    font-family: poppinsLight;
    margin: 10px 0;
    width: fit-content;
}
.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .addedPhoto {
    width: 100%;
    height: 300px;
}
.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .photo,
.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .icon,
.URSaddNewMentor .URSaddNewMentorForm .photoAndIcon .hoveredIcon {
    display: flex;
    flex-direction: column-reverse;
}

.URSaddNewMentor .URSaddNewMentorForm .cancelButtonAndAddButton {
    margin-top: 10px;
}
.URSaddNewMentor .URSaddNewMentorForm .cancelButtonAndAddButton .cancelButton,
.URSaddNewMentor .URSaddNewMentorForm .cancelButtonAndAddButton .addButton {
    font-family: poppinsLight;
    border: none;
    margin: 10px 20px 10px 0;
    padding: 10px 30px;
    color: #fff;
    transition: All 0.4s;
}
.URSaddNewMentor .URSaddNewMentorForm .cancelButtonAndAddButton .cancelButton {
    border: 1px solid red;
    background-color: red;
}
.URSaddNewMentor .URSaddNewMentorForm .cancelButtonAndAddButton .addButton {
    background-color: green;
    border: 1px solid green;
}
.URSaddNewMentor .URSaddNewMentorForm .cancelButtonAndAddButton .cancelButton:hover,
.URSaddNewMentor .URSaddNewMentorForm .cancelButtonAndAddButton .addButton:hover {
    background-color: #fff;
    color: #000;
}


.mt20 {
    margin-top: 20px;
}