
@font-face {
    font-family: poppinsLight;
    src: url('../../font//Poppins-Light.ttf');
}

.URSaboutusPage {
    padding: 20px;
}

.URSaboutusPage .URSaboutUsForm  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #f3f3f3;
    transition: All 0.4s;
}
.URSaboutusPage .URSaboutUsForm input:focus {
    border: 1px solid #fcba00;
}

.URSaboutusPage .URSaboutUsForm label {
    font-family: poppinsLight;
    margin-bottom: 10px;
}

.URSaboutusPage .URSaboutUsForm .pageHeading {
    margin-bottom: 20px;
}

.URSaboutusPage .photo {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
}
.URSaboutusPage .photo .photoAndIconLabel {
    padding: 7px;
    background-color: #fcba00;
    border: none;
    color: #fff;
    font-family: poppinsLight;
    margin: 10px 0;
    width: fit-content;
}
.URSaboutusPage .photo .photoInput::file-selector-button {
    display: none;
}

.URSaboutusPage .photo .addedPhoto {
    width: 100%;
    height: 300px;
}

.URSaboutusPage .cancelButtonAndAddButton .cancelButton,
.URSaboutusPage .cancelButtonAndAddButton .addButton {
    font-family: poppinsLight;
    border: none;
    margin: 10px 20px 10px 0;
    padding: 10px 30px;
    color: #fff;
    transition: All 0.4s;
}
.URSaboutusPage .cancelButtonAndAddButton .cancelButton {
    border: 1px solid red;
    background-color: red;
}
.URSaboutusPage .cancelButtonAndAddButton .addButton {
    background-color: green;
    border: 1px solid green;
}
.URSaboutusPage .cancelButtonAndAddButton .cancelButton:hover,
.URSaboutusPage .cancelButtonAndAddButton .addButton:hover {
    background-color: #fff;
    color: #000;
}

