
@font-face {
    font-family: poppinsLight;
    src: url('../../font//Poppins-Light.ttf');
}

.URSaddNewOffice {
    padding: 20px; 
}

.URSaddNewOffice .URSaddNewOfficeForm div {
    width: 100%;
}
.URSaddNewOffice .URSaddNewOfficeForm div:not(:first-child) {
    margin-top: 20px;
}
.URSaddNewOffice .URSaddNewOfficeForm  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #f3f3f3;
    transition: All 0.4s;
}
.URSaddNewOffice .URSaddNewOfficeForm  input:focus {
    border: 1px solid #fcba00;
}

.URSaddNewOffice .URSaddNewOfficeForm label {
    font-family: poppinsLight;
    margin-bottom: 10px;
}

.URSaddNewOffice .URSaddNewOfficeForm .cancelButtonAndAddButton {
    margin-top: 10px;
}
.URSaddNewOffice .URSaddNewOfficeForm .cancelButtonAndAddButton .cancelButton,
.URSaddNewOffice .URSaddNewOfficeForm .cancelButtonAndAddButton .addButton {
    font-family: poppinsLight;
    border: none;
    margin: 10px 20px 10px 0;
    padding: 10px 30px;
    color: #fff;
    transition: All 0.4s;
    display: inline-block;
}
.URSaddNewOffice .URSaddNewOfficeForm .cancelButtonAndAddButton .cancelButton {
    border: 1px solid red;
    background-color: red;
}
.URSaddNewOffice .URSaddNewOfficeForm .cancelButtonAndAddButton .addButton {
    background-color: green;
    border: 1px solid green;
}
.URSaddNewOffice .URSaddNewOfficeForm .cancelButtonAndAddButton .cancelButton:hover,
.URSaddNewOffice .URSaddNewOfficeForm .cancelButtonAndAddButton .addButton:hover {
    background-color: #fff;
    color: #000;
}


