@font-face {
  font-family: poppinsLight;
  src: url("../../font//Poppins-Light.ttf");
}
.URSaddNewYoutubeVideo {
  padding: 20px;
}

.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .name {
  margin-bottom: 20px;
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .name .videoName {
  margin-right: 20px;
  /* margin-bottom: 20px; */
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .name div {
  width: 100%;
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .name input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #f3f3f3;
  transition: All 0.4s;
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .name input:focus {
  border: 1px solid #fcba00;
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .description {
  margin-bottom: 20px;
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .name label,
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .description label {
  font-family: poppinsLight;
  margin-bottom: 10px;
}

.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .countryFlagPhoto
  .photoInput::file-selector-button,
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .countryFlagPhoto
  .hoverIconInput::file-selector-button,
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .countryFlagPhoto
  .iconInput::file-selector-button {
  display: none;
}
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .countryFlagPhoto
  .photoAndIconLabel {
  padding: 7px;
  background-color: #fcba00;
  border: none;
  color: #fff;
  font-family: poppinsLight;
  margin: 10px 0;
  width: fit-content;
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .countryFlagPhoto .addedPhoto {
  width: 100%;
  height: 300px;
}
.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .countryFlagPhoto .photo {
  display: flex;
  flex-direction: column-reverse;
}

.URSaddNewYoutubeVideo .addNewYoutubeVideoForm .cancelButtonAndAddButton {
  margin-top: 10px;
}
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .cancelButtonAndAddButton
  .cancelButton,
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .cancelButtonAndAddButton
  .addButton {
  font-family: poppinsLight;
  border: none;
  margin: 10px 20px 10px 0;
  padding: 10px 30px;
  color: #fff;
  transition: All 0.4s;
}
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .cancelButtonAndAddButton
  .cancelButton {
  border: 1px solid red;
  background-color: red;
}
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .cancelButtonAndAddButton
  .addButton {
  background-color: green;
  border: 1px solid green;
}
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .cancelButtonAndAddButton
  .cancelButton:hover,
.URSaddNewYoutubeVideo
  .addNewYoutubeVideoForm
  .cancelButtonAndAddButton
  .addButton:hover {
  background-color: #fff;
  color: #000;
}

.mt20 {
  margin-top: 20px;
}