
@font-face {
    font-family: poppinsLight;
    src: url('../../font//Poppins-Light.ttf');
}

.URSeditServiceAndEducationCountry {
    padding: 20px 0; 
}

.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .nameAndPhoto .countryName {
    margin-right: 20px;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .nameAndPhoto  div {
    width: 100%;
}

.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .nameAndPhoto  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #f3f3f3;
    transition: All 0.4s;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .nameAndPhoto input:focus {
    border: 1px solid #fcba00;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .nameAndPhoto label,
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .description label {
    font-family: poppinsLight;
    margin-bottom: 10px;
}

.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .photoInput::file-selector-button,
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .hoverIconInput::file-selector-button,
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .iconInput::file-selector-button {
    display: none;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .photoAndIconLabel {
    padding: 7px;
    background-color: #fcba00;
    border: none;
    color: #fff;
    font-family: poppinsLight;
    margin-top: 10px;
    width: fit-content;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .addedPhoto {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .photo,
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .icon,
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .countryFlagPhoto .hoveredIcon {
    display: flex;
    flex-direction: column-reverse;
}

.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .cancelButtonAndAddButton {
    margin-top: 10px;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .cancelButtonAndAddButton .cancelButton,
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .cancelButtonAndAddButton .addButton {
    font-family: poppinsLight;
    border: none;
    margin: 10px 20px 10px 0;
    padding: 10px 30px;
    color: #fff;
    transition: All 0.4s;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .cancelButtonAndAddButton .cancelButton {
    border: 1px solid red;
    background-color: red;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .cancelButtonAndAddButton .addButton {
    background-color: green;
    border: 1px solid green;
}
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .cancelButtonAndAddButton .cancelButton:hover,
.URSeditServiceAndEducationCountry .URSeditServiceAndEducationCountryForm .cancelButtonAndAddButton .addButton:hover {
    background-color: #fff;
    color: #000;
}

